@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&family=Montserrat:wght@700&family=Open+Sans:wght@400&display=swap");

@theme {
  --color-primaria: #94191d;
  --color-creme: #f3f3e7;
  --color-secundaria: #de6536;
  --color-escuro: #201c14;
  --color-texto: #333333;

  --font-titulo: "Montserrat", sans-serif;
  --font-corpo: "Open Sans", sans-serif;
  --font-citacao: "Merriweather", sans-serif;
}

@layer base {
  body {
    @apply bg-creme text-texto font-corpo;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-titulo text-escuro;
  }
}
